{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load humanize %}

{% block title %}
    Making photo
{% endblock %}

{% block content %}



  <div class="row well-lg">
    <div  class="col-md-5" id="my_camera" style="width:320px; height:240px;"></div>
    <div  class="col-md-2">

    </div>
    <div  class="col-md-5" id="my_result"></div>
</div>

<input type="hidden" name="testimage" required id="id_testimage" class="form-control">

<div  class="row">
<div  class="col-md-12">
<button type="button" class="btn btn-danger" id='make_photo'>Make a photo!</button>
</div>
</div>
<br>
<div  class="row">
  <div  class="col-md-12">
    {% next_button %}
    </div>
    </div>

{% endblock %}

{% block scripts %}
<script src='{% static "image_upload/newcamera/webcam.js" %}' type="text/javascript"></script>
<script>

$(function() {
    $("#make_photo").click( function()
         {
          take_snapshot();
         }
    );
});

</script>



<script language="JavaScript">
  Webcam.attach( '#my_camera' );

  function take_snapshot() {
    Webcam.snap( function(data_uri) {
      document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
      document.getElementById('id_testimage').value = data_uri;
    } );
  }
</script>



{% endblock %}
{% block styles %}

{% endblock %}
