{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load humanize %}

{% block title %}
    Punishment
{% endblock %}

{% block content %}

    <p>
      Please take your decision:
    </p>

    <div id="camera">
         <div class="placeholder">
           Your browser does not support camera access.<br>
           We recommend
           <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
           &mdash; modern, secure, fast browser from Google.<br>
           It's free.
         </div>
       </div><br>


    <button id="take_snapshots">Take more snapshots</button>
    <button id="show_stream">Show stream</button><br>

    <div id="snapshots"></div>

    <button id="discard_snapshot">Discard snapshot</button>
    <button id="upload_snapshot">Upload to URL</button><br>

    <input type="text" name="my_image" required id="id_my_image" class="form-control" ><br>

    <img src="loader.gif" id="loader">
    <div id="upload_status"></div>
    <div id="upload_result"></div>
    <p>{{myvar|intcomma}}</p>
{{ form.my_image.errors }}

    {% next_button %}

{% endblock %}

{% block scripts %}
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src='{% static "image_upload/camera/jpeg_camera_with_dependencies.min.js" %}' type="text/javascript"></script>
<!-- <script src='{% static "image_upload/camera/swfobject.min.js" %}' type="text/javascript"></script>
<script src='{% static "image_upload/camera/canvas-to-blob.min.js"  %}' type="text/javascript"></script>
<script src='{% static "image_upload/camera/jpeg_camera.min.js" %}' type="text/javascript"></script> -->
<script src='{% static "image_upload/camera/demo.js" %}' type="text/javascript"></script>
<script>

</script>
<script type="text/javascript">

$("form.form").submit(function(e) {
  // e.preventDefault();
  // alert('hello');
  // formData = new FormData($(this)[0]);
  // // pass valid `data URI` to `dataURItoBlob`
  // var blob = dataURItoBlob("data:text/plain;base64," + convertedvalue);
  // formData.append("yourfile", blob);
  // $.ajax({
  //   url: URL.createObjectURL(formData.get("yourfile")),
  //   type: "GET",
  //   // data: formData,
  //   contentType: false,
  //   cache: true,
  //   processData: false,
  //   success: function(data) {
  //     console.log(data);
  //     $("#b64text").html(data);
  //     //alert("Form has been submitted with file");
  //   }
  // });
})

$( "form.form" )
    .attr( "enctype", "multipart/form-data" )
    .attr( "encoding", "multipart/form-data" )
;

</script>


{% endblock %}
{% block styles %}
<style media="screen">
body {
background-color: #ddd;
padding: 0.5em;
text-align: center;
font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}

button, input, #loader {
display: none;
}

input {
width: 300px;
}

#camera {
display: inline-block;
background-color: #eee;
width: 250px;
height: 300px;
margin: 0.5em;
}

#camera .placeholder {
padding: 0.5em;
}

#snapshots {
height: 150px;
margin: 0.5em 0;
padding: 3px;

border: 1px solid #aaa;

white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;

height: 100%;
margin-left: 3px;
border: 3px solid transparent;
}

#snapshots .selected {
border: 3px solid #000;
}

button, #upload_status, #upload_result, #loader {
margin: 0.5em;
}
</style>
{% endblock %}
